@model Sql_Injection.Models.SqlViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="card @Model.isValidQueryColor darken-1">
    <div class="card-content white-text">
        <span class="card-title">
            @Model.isValidQueryString
        </span>
        <p>
            @{
                using (Html.BeginForm("index", "Home"))
                {
                    @Html.TextBoxFor(m => m.sqlQuery);
                }
            }
        </p>
    </div>
</div>