@model Sql_Injection.Models.SqlViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="card blue-grey darken-1">
    <div class="card-content white-text">
        <span class="card-title">
            @{

                if (Model?.isValid == null || Model?.isValid == true)
                {
                    Write("MODELVALID"+Model.isValid);
                    Write("No Error");
                }
                else
                {
                    Write("Error");
                }
            }
        </span>
        <p>

            @{
                using (Html.BeginForm("index","Home"))
                {
                    @Html.TextBoxFor(m => m.sqlQuery);
                }
                if (Model != null)
                {
                    Write(Model.ID);
                    Write(Model.ExplainationText);
                }
            }
        </p>
    </div>
</div>